.addButtonModal {
    float: right;
    background-color: rgb(182, 182, 182);
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-right: 22px;
    margin-top: -30px;
}

.addButtonModal:hover {
    background-color: rgb(50, 72, 92);;
    border-color: white;
    cursor: pointer;
}