.aboutWrapper {
    background: url("/images/grunge_wall.png") no-repeat center center fixed;
    background-repeat: repeat;
}

p {
    text-align: justify;
    font-size: 1vw;
}

h4 {
    font-size: 1.4vw;
}

h2 {
    margin-top: 0;
    font-size: 2vw;
}

.michaelDiv,
.oritDiv,
.willDiv,
.chrisDiv,
.carolineDiv {
    background-color: rgb(114, 114, 114);
    padding: 40px;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 4px 5px #373737;
}

.michaelDiv,
.carolineDiv,
.oritDiv {
    margin: 40px 8px 73px 92px;
}

.chrisDiv,
.willDiv {
    margin: 40px 92px 73px 8px;
}

.chrisImage,
.michaelImage {
    margin-top: 15%;
    border-radius: 50%;
}

.willImage {
    margin-top: 10%;
    border-radius: 50%;
}
.oritImage,
.carolineImage {
    margin-top: 5%;
    border-radius: 50%;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
    .michaelDiv, .carolineDiv, .oritDiv {
        margin: 40px 8px 53px 22px;
    }
    .chrisDiv, .willDiv {
        margin: 40px 22px 53px 8px;
    }
}

@media only screen and (max-width: 980px) {
    .chrisImage, 
    .michaelImage, 
    .carolineImage, 
    .oritImage, 
    .willImage {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        height: 200px;
    }
    .chrisDiv,
    .willDiv,
    .michaelDiv,
    .oritDiv,
    .carolineDiv {
        margin: 30px;
    }
    p {
        font-size: 14px;
    }
    h4 {
        font-size: 16px;
    }
    h2 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 768px) {
    .chrisImage, 
    .michaelImage, 
    .carolineImage, 
    .oritImage, 
    .willImage {
        margin-top: 0;
        height: 200px;
    }
    .chrisDiv,
    .willDiv,
    .michaelDiv,
    .oritDiv,
    .carolineDiv {
        margin: 30px;
    }
    p {
        font-size: 14px;
    }
    h4 {
        font-size: 16px;
    }
    h2 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 640px) {
    .chrisImage, 
    .michaelImage, 
    .carolineImage, 
    .oritImage, 
    .willImage {
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 425px) {
    .chrisImage, 
    .michaelImage, 
    .carolineImage, 
    .oritImage, 
    .willImage {
        margin-bottom: 15px;
        height: 175px;
    }
}