.landingPageDiv {
    background: black;
    width: 50%;
    height: 525px;
    padding: 25px;
    opacity: .85;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 100px;
}

.landingPageLogo {
    height: 230px;
    width: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.landingPageHeader {
    margin-top: -25px;
    /* padding-left: 230px;
    padding-right: 5px; */
    text-align: center;
    color: white;
    font-size: 40px;
    /* padding-bottom: 40px; */
}

.zigRigDef {
    align-content: center;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-bottom: 45px;
}

.authRedirect {
    text-align: center;
    opacity: 100;
    margin-top: -38px;
    background-color: grey;
    color: white;
    border: 1px solid white;
}

.authRedirect:hover {
    background-color: rgb(94, 142, 165);;
    color: white;
    border: 1px solid white;
}