.landingPageDiv {
    border: solid;
    border-color: white;
    background: black;
    width: 50%;
    height: 525px;
    opacity: .85;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    margin-bottom: 150px;
}

.landingPageLogo {
    padding-left: 295px;
}

.landingPageHeader {
    margin-top: 0;
    /* padding-left: 230px;
    padding-right: 5px; */
    text-align: center;
    color: white;
    font-size: 40px;
    padding-bottom: 40px;
}

p {
    align-content: center;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-bottom: 70px;
}

.authRedirect {
    text-align: center;
    opacity: 100;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}