#nav-bar {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(34, 34, 34);
    padding: 22px;
    border-bottom: 2px solid rgb(214, 214, 214);
    margin-bottom: 40px;
    box-shadow: 3px 4px 5px #3b3b3b;
    padding-bottom: 40px;
}

.account {
    color: white;
}

/* .account:hover {
    color: gray;
} */

.btn.focus, .btn:focus, .btn:hover {
    color: white;
    text-decoration: none;
}

#miniLogo {
    width: 50px;
    margin: -15px 0px 0px 16px;
    float: left;
}

.dropdown {
    float: right;
    margin-top: -12px;  
}

.dropdown-item {
    color: black;
    margin-right: 22px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-bottom: none;
    background-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
}

.dropdown-toggle {
    border: none !important;
}

.btn .caret {
    margin-left: 3px;
}

.dropdown-menu {
    padding-left: 1px;
    background-color: black; 
    border-color: white !important;
}

.menu {
    color: white;
}

.menu:hover {
    color: gray;
}


