body {
    background: url("/images/concreteTextureDark1.jpg") no-repeat center center fixed;
    background-size: cover;
		height: 100%;
}

.myProjectsContainer {
    background: rgb(50, 72, 92);
    width: 80%;
    opacity: .75;
    border-radius: 15px;
    padding: 50px 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
		margin-top: 50px;
    box-shadow: 3px 4px 5px #3b3b3b;
}

h6 {
    color: white;
    font-size: 30px;
}

/* Media Queries */
@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 414px) {

}

@media only screen and (max-width: 375px) {

}
