.pageWrapper {
    background: url("/images/concreteTextureDark1.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* Div Container */
.homeContainer {
    background: rgb(50, 72, 92);
    width: 80%;
    opacity: .75;
    border-radius: 15px;
    padding: 65px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    box-shadow: 3px 4px 5px #3b3b3b;
}

/* Generator Div */
.genDiv {
    margin: -580px 0px 0px 650px;
}

/* Current Leg Totals */
.currentLegTotalsModalHome {
    margin-left: 12%;
    color: white;
    font-size: 20px;
}

/* Template Examples */
hr {
    float: left;
    width: 43.5%;
    margin-left: 7%;
}

#templatesDiv {
    margin-left: 7%;
}

#loadTemplatesHeader {
    color: white;
}

.loadTemplateExample1,
.loadTemplateExample2,
.loadTemplateExample3
 {
    background: rgb(94, 142, 165);
    color: white;
    width: 23%;
    padding: 52px 25px;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 25px;
}

.loadTemplateExample2 {
    float: right;
    margin: -151px 325px 0px 0px;
}

.loadTemplateExample3 {
    float: right;
    margin: -151px 137px 0px 0px;
}