 #selectLegsLabel {
    font-size: 18px;
    color: rgb(94, 142, 165);
}

.checkbox {
    margin-top: -16px;
    display: inline-flex; 
  
} 

#phase1 {
    /* margin-bottom: 20px; */
    font-size: 18px;
    color: rgb(94, 142, 165);

}

#type1 {
    /* margin-bottom: 20px; */
    font-size: 18px;
    color: rgb(94, 142, 165);
}

#current {
    font-size: 18px;
    color: rgb(94, 142, 165);
}


