 #selectLegsLabel {
    font-size: 18px;
    color: grey;
}

.checkbox {
    margin-top: -16px;
    display: inline-flex; 
  
} 

#phase1 {
    /* margin-bottom: 20px; */
    font-size: 18px;
    color: grey;

}

#type1 {
    /* margin-bottom: 20px; */
    font-size: 18px;
    color: grey;
}

#phase1,
#selectLegsLabel {
  
}

#current {
    font-size: 18px;
    color: grey;
}

.checkbox-label3 {
  
}

